# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/


# ===============================
# Trained Models
# ===============================
models/*.pkl
models/*.joblib

# ===============================
# Results / Outputs
# ===============================
results/*.png
results/*.jpg
results/*.txt
results/*.csv

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Temporary Files
# ===============================
tmp/
temp/